<%- if @teams.present? %>
  <h2>Teams in mission</h2>
  <%- @teams.each do |team| %>
    <%= render partial: 'team', locals: {team: team} %>
  <%- end %>
<%- else %>
  <p>No active teams.</p>
<%- end %>
